body {
  font-display: swap;
}

.navbar {
  box-shadow: none;
}

#banner {
  width: 100%;
  background-color: #0e62a4;
  margin-top: -50px;
  padding: 25px;
  color: #fff;
  margin-bottom: 25px;
}

#banner h1 {
  font-size: 42px;
}

#banner a {
  color: #fff;
  text-decoration: none;
}

#banner p {
  font-size: 1.3em;
}

#banner p a {
  font-weight: bold;
}

#banner .site-description {
  margin-bottom: 1em;
}

#banner .elsewhere {
  font-size: 0.8em;
}

.namebadge-holder {
  display: none;
}

@media screen and (min-width: 760px) {
  #banner-container {
    max-width: 720px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    column-gap: 20px;
    /* grid-template-columns: 1fr 3fr; */
  }  
}

@media screen and (max-width: 759px) {
  #banner-container {
    text-align: center;
  }

  img.u-photo {
    max-width: 200px;
  }
}

.page-about p {
  font-family: merriweather,serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.75em;
  margin: 0 0 1.5em;
}

.idno-body .entry-content p {
  margin: 0 0 20px 0;
  font-size: 1em;
}

.idno-body .entry-content ol,
.idno-body .entry-content ul,
.idno-body .entry-content ol li,
.idno-body .entry-content ul li {
  margin: 0 0 20px 0;
  font-size: 1em;
}

.idno-object a {
  color: #0e62a4;
  text-decoration: underline;
}

.idno-object h1 a,
.idno-object h2 a {
  text-decoration: none;
}

.idno-object a.p-category {
  color: #333;
  text-decoration: none;
}

.idno-object .idno-body blockquote p {
  font-size: 0.85em;
}

.idno-asides .p-summary {
  margin-top: 0;
  display: none;
}

.idno-bookmarkedpages h2,
.idno-asides h2 {
  font-size: 22px;
}

.reading {
  display: none;
}
